/* Styling the table */
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.item-table th, .item-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.item-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Inputs inside table */
.item-select, .price-input, .currency-display, .quantity-select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button to add items */
.add-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.add-btn:hover {
  background-color: #218838;
}

/* Grand total styling */
.grand-total-container {
  margin-top: 20px;
}

.grand-total {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
}

/* Remove button */
.remove-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c82333;
}

.search-results-container {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.search-results-container div {
  padding: 10px;
  cursor: pointer;
}

.search-results-container div:hover {
  background-color: #f1f1f1;
}


#company-table th:last-child {
  text-align: center;
  vertical-align: top !important;
}

#company-table td:last-child div {
  text-align: center;
  justify-content: center;
  align-items: center; 
}

#role-table td:last-child div {
  text-align: center;
  justify-content: center;
  align-items: center; 
}

#role-table th:last-child{
  text-align: center;
  vertical-align: top !important;
}

#user-table td:last-child div {
  text-align: center;
  justify-content: center;
  align-items: center; 
}

#user-table th:last-child{
  text-align: center;
  vertical-align: top !important;
}



#table-responsive th {
  text-align: center;
  vertical-align: top !important;
}



.table th {
  position: relative; 
  text-align: left;   
  vertical-align: top !important; 
}

.image-input .image-input-wrapper {
  text-align: center;
}

.image-input {
  max-width: 100%; 
  height: auto;
}